In [1]:
import pandas as pd

In [2]:
p = pd.read_csv("2021_population.csv")

In [3]:
p

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,"1,446,900,702","1,439,323,776","9,706,961 sq_km",149/sq_km,0.34%,18.340,1
1,IND,India,"1,397,396,241","1,380,004,385","3,287,590 sq_km",424/sq_km,0.97%,17.713,2
2,IDN,Indonesia,"276,939,443","273,523,615","1,904,569 sq_km",145/sq_km,1.04%,3.510,4
3,PAK,Pakistan,"225,180,900","220,892,340","881,912 sq_km",255/sq_km,1.95%,2.854,5
4,BRA,Brazil,"214,498,060","212,559,417","8,515,767 sq_km",25/sq_km,0.67%,2.719,6
...,...,...,...,...,...,...,...,...,...
168,GIB,Gibraltar,"33,826","33,691",6 sq_km,"5,616/sq_km",0.02%,0.000,218
169,AIA,Anguilla,"15,392","15,003",91 sq_km,166/sq_km,0.76%,0.000,222
170,TUV,Tuvalu,"11,838","11,792",26 sq_km,459/sq_km,1.18%,0.000,223
171,NRU,Nauru,"10,891","10,824",21 sq_km,518/sq_km,0.48%,0.000,225
172,MSR,Montserrat,"5,026","4,992",102 sq_km,49/sq_km,-0.30%,0.000,228

In [4]:
p["2021_last_updated"] = p["2021_last_updated"].str.replace(",","").astype(float)
p["2020_population"] = p["2020_population"].str.replace(",","").astype(float)

In [5]:
p["area"] = p["area"].str.replace(",","").str.replace(" sq_km","").astype(float)
p["density_sq_km"] = p["density_sq_km"].str.replace(",","").str.replace("/sq_km","").astype(float)
p["growth_rate"] = p["growth_rate"].str.replace("%","").astype(float)

In [6]:
p.head()

,iso_code,country,2021_last_updated,2020_population,area,density_sq_km,growth_rate,world_%,rank
0,CHN,China,1.446901e+09,1.439324e+09,9706961.0,149.0,0.34,18.340,1
1,IND,India,1.397396e+09,1.380004e+09,3287590.0,424.0,0.97,17.713,2
2,IDN,Indonesia,2.769394e+08,2.735236e+08,1904569.0,145.0,1.04,3.510,4
3,PAK,Pakistan,2.251809e+08,2.208923e+08,881912.0,255.0,1.95,2.854,5
4,BRA,Brazil,2.144981e+08,2.125594e+08,8515767.0,25.0,0.67,2.719,6

In [7]:
p.to_csv("2021_population_cleaned.csv", index=False)