In [1]:
from faker import Faker
fake = Faker()
import datetime

In [2]:
import numpy as np

# generating car data

In [3]:
import itertools
import random
import pandas as pd
import time

In [4]:
color_list = ['Red','Blue', 'White', 'Black', 'Gray', 'Silver', 'Lime', 'Aqua', 'Teal', 'Fuchsia', 'Navy']

fuel_type = ['Gasoline', 'Diesel', 'Hybrid']
transmission_type_list = ['Manual', 'Automatic', 'CVT']


audi_body_type_list = ['Sportback', 'Coupe', 'Cabriolet', 'Sedan',  'Hatchback']
merc_body_type_list = ['Sedan', 'Estate', 'SUV', 'Cabriolets', 'Roadsters', 'Coupe', 'Hatchback']
bmw_body_type_list = ['Sedan','SAV', 'Bimmer','Cabriolets', 'Coupe', 'Hatchback']


audi_models_list = ['A3', 'A4',  'A5',  'A6',  'A7',  'A8', 'eTron', 'Q3','Q5', 'Q7', 'Q8', 'R8', 'TT']

merc_models_list =  ['A-Class',  'AMG GT',  'C-Class', ' CLA-Class',  'E / CLS-Class',  'G-Class',  
                    'GL/GLS-Class', ' GLA-Class',  'GLB',  'GLC/GLK-Class',  'GLE-Class',  'Metris',  'S-Class', 
                    'SL-Class',' SLC-Class', 'Sprinter']

bmw_models_list = ['2-Series', '3-Series', '4-Series', '5-Series', '6-Series',
                    '7-Series', '8-Series','i3', 'i8', 'X1', 'X2' ,'X3', 'X4', 'X5', 'X6', 'X7', 'Z4']

In [5]:
audi_list = [['Audi'],audi_models_list, audi_body_type_list,  transmission_type_list, fuel_type, color_list]
bmw_list = [['BMW'],bmw_models_list, bmw_body_type_list,  transmission_type_list, fuel_type, color_list]
merc_list = [['Mercedes-Benz'],merc_models_list, merc_body_type_list,  transmission_type_list, fuel_type, color_list]

In [6]:
# Q1_2018, Q2_2018, Q3_2018, Q4_2018, Q1_2019, Q2_2019, Q3_2019, Q4_2019, date_list, cust_id = ([] for i in range(4))

car_list, date_list, cust_id = ([] for i in range(3))

In [7]:
%%time

# Quarter 1 2018 sales

for car, rep in zip([audi_list, bmw_list, merc_list], [50052,73835,86760]):
        for i in range(rep):
            car_list.append([random.choice(e) for e in car])
            cust_id.append(fake.ean8())
            date_list.append((fake.date_between_dates(date_start= datetime.date(2018, 1, 1), date_end = datetime.date(2018, 3, 31))))
            

# Quarter 2 2018 sales

for car, rep in zip([audi_list, bmw_list, merc_list], [57890,79551,89098]):
        for i in range(rep):
            car_list.append([random.choice(e) for e in car])
            cust_id.append(fake.ean8())
            date_list.append((fake.date_between_dates(date_start= datetime.date(2018, 4, 1), date_end = datetime.date(2018, 6, 30))))

# Quarter 3 2018 sales

for car, rep in zip([audi_list, bmw_list, merc_list], [59478,71679,77656]):
        for i in range(rep):
            car_list.append([random.choice(e) for e in car])
            cust_id.append(fake.ean8())
            date_list.append((fake.date_between_dates(date_start= datetime.date(2018, 7, 1), date_end = datetime.date(2018, 9, 30))))
            
# Quarter 4 2018 sales

for car, rep in zip([audi_list, bmw_list, merc_list], [55903,85949,100730]):
        for i in range(rep):
            car_list.append([random.choice(e) for e in car])
            cust_id.append(fake.ean8())
            date_list.append((fake.date_between_dates(date_start= datetime.date(2018, 10, 1), date_end = datetime.date(2018, 12, 31))))
            
# # --------------------2019 SALES-------------------


# Quarter 1 2019 sales

for car, rep in zip([audi_list, bmw_list, merc_list], [46115,73888,78647]):
        for i in range(rep):
            car_list.append([random.choice(e) for e in car])
            cust_id.append(fake.ean8())
            date_list.append((fake.date_between_dates(date_start= datetime.date(2019, 1, 1), date_end = datetime.date(2019, 3, 31))))
            

# Quarter 2 2019 sales

for car, rep in zip([audi_list, bmw_list, merc_list], [53325,82552,74774]):
        for i in range(rep):
            car_list.append([random.choice(e) for e in car])
            cust_id.append(fake.ean8())
            date_list.append((fake.date_between_dates(date_start= datetime.date(2019, 4, 1), date_end = datetime.date(2019, 6, 30))))

# Quarter 3 2019 sales

for car, rep in zip([audi_list, bmw_list, merc_list], [57031,75987,89636]):
        for i in range(rep):
            car_list.append([random.choice(e) for e in car])
            cust_id.append(fake.ean8())
            date_list.append((fake.date_between_dates(date_start= datetime.date(2019, 7, 1), date_end = datetime.date(2019, 9, 30))))
            
# Quarter 4 2019 sales

for car, rep in zip([audi_list, bmw_list, merc_list], [65640,92399,104672]):
        for i in range(rep):
            car_list.append([random.choice(e) for e in car])
            cust_id.append(fake.ean8())
            date_list.append((fake.date_between_dates(date_start= datetime.date(2019, 10, 1), date_end = datetime.date(2019, 12, 31))))

Wall time: 3min 26s

In [8]:
df = pd.DataFrame(car_list, columns = ['brand', 'model', 'body-type' ,'transmission', 'fuel', 'color'])
df['date_of_purchase'] = date_list
df['customer_id'] = cust_id

df = df[['customer_id', 'brand', 'model', 'body-type' ,'transmission', 'fuel', 'color', 'date_of_purchase']]

In [9]:
df = df.drop_duplicates('customer_id')

### Add the car price

In [10]:
conditions = [
    # -------Audi Cars---------
    df['model'] == 'A3',
    df['model'] == 'A4', 
    df['model'] == 'A5', 
    df['model'] == 'A6',  
    df['model'] == 'A7',  
    df['model'] == 'A8', 
    df['model'] == 'eTron', 
    df['model'] == 'Q3',
    df['model'] == 'Q5',
    df['model'] == 'Q7',
    df['model'] == 'Q8',
    df['model'] == 'R8', 
    df['model'] == 'TT',
    # -------MERC Cars---------
    df['model'] == 'A-Class',  
    df['model'] == 'AMG GT', 
    df['model'] == 'C-Class', 
    df['model'] == ' CLA-Class',
    df['model'] == 'E / CLS-Class', 
    df['model'] == 'G-Class',  
    df['model'] == 'GL/GLS-Class', 
    df['model'] == ' GLA-Class',  
    df['model'] == 'GLB',  
    df['model'] == 'GLC/GLK-Class',
    df['model'] == 'GLE-Class',  
    df['model'] == 'Metris',  
    df['model'] == 'S-Class', 
    df['model'] == 'SL-Class',
    df['model'] == ' SLC-Class',
    df['model'] == 'Sprinter', 
    # -------BMW Cars---------
    df['model'] == '2-Series', 
    df['model'] == '3-Series', 
    df['model'] == '4-Series',
    df['model'] == '5-Series',
    df['model'] == '6-Series',
    df['model'] ==  '7-Series', 
    df['model'] == '8-Series',
    df['model'] == 'i3',
    df['model'] == 'i8',
    df['model'] == 'X1',
    df['model'] == 'X2' ,
    df['model'] == 'X3', 
    df['model'] == 'X4',
    df['model'] == 'X5',
    df['model'] == 'X6', 
    df['model'] == 'X7', 
    df['model'] == 'Z4'
]

In [11]:
outputs = [ 
     # -------Audi Cars---------
    35750, 43020,45360, 55945,72880,87545, 69765, 37410, 44800, 59570, 73610, 187100, 50865,
     # -------MERC Cars---------
    90950, 87010, 54165, 82600, 176850, 77050, 41795, 45380, 70170, 63350, 31809, 173135, 66983, 68445, 73315, 41304, 
    # -------BMW Cars---------
    37500, 41250, 45600, 54200, 85495, 157800, 88000, 45445, 164295, 40645, 41595,76095,58485, 92395, 87245, 85895, 50695  
]

In [12]:
res = np.select(conditions, outputs, 0)
pd.Series(res)

0           87545
1           55945
2           35750
3          187100
4           87545
            ...
1633300    173135
1633301     54165
1633302     82600
1633303     66983
1633304     54165
Length: 1633305, dtype: int32

In [13]:
df['price'] = res

In [14]:
df = df.sample(frac=1).reset_index(drop=True)

# create customer data

In [15]:
%%time
city, state, age, profile = ([] for i in range(4))

#customer table
Faker.seed(36)
for _ in range(df.shape[0]):
    # generating city name
    city.append(fake.city())
    state.append(fake.state())
    #profession of the customer
    profile.append(fake.profile(['sex','job']))
    #age of the customer
    age.append(random.randint(18,85))

Wall time: 39min 50s

In [16]:
len(age)

1633305

In [17]:
cust_info = pd.DataFrame(profile)
cust_info['age'] = age
cust_info['city'] = city
cust_info['state'] = state
cust_info['customer_id'] = df['customer_id']
cust_info = cust_info[['customer_id', 'sex', 'age', 'job', 'city', 'state']]

In [18]:
df.dtypes

customer_id         object
brand               object
model               object
body-type           object
transmission        object
fuel                object
color               object
date_of_purchase    object
price                int32
dtype: object

In [19]:
cust_info.dtypes

customer_id    object
sex            object
age             int64
job            object
city           object
state          object
dtype: object

In [20]:
cust_info.shape

(1633305, 6)

In [21]:
df.shape

(1633305, 9)

In [22]:
cust_info.head()

,customer_id,sex,age,job,city,state
0,80827757,F,77,Careers information officer,Briantown,Maine
1,33384689,M,67,"Sound technician, broadcasting/film/video",Susanberg,Idaho
2,73752684,M,19,Commercial art gallery manager,Savannahberg,Utah
3,70937572,M,64,Planning and development surveyor,Lake Nicholasmouth,Idaho
4,08257192,M,83,"Nurse, adult",New Eugenefort,Texas

In [23]:
df.head()

,customer_id,brand,model,body-type,transmission,fuel,color,date_of_purchase,price
0,80827757,BMW,X7,Sedan,CVT,Hybrid,Blue,2018-04-30,85895
1,33384689,BMW,X4,Hatchback,Automatic,Gasoline,Lime,2019-05-07,58485
2,73752684,BMW,6-Series,SAV,Automatic,Gasoline,White,2018-09-19,85495
3,70937572,Mercedes-Benz,GLC/GLK-Class,Roadsters,Manual,Gasoline,White,2019-04-27,63350
4,08257192,BMW,7-Series,Cabriolets,Automatic,Gasoline,Navy,2018-12-27,157800

In [24]:
cust_info.to_csv('./cust_info2.csv', index = False)

In [25]:
df.to_csv('./cars_us2.csv', index = False)