# Securing an atoti session with LDAP

Securing a session comes in two parts:
1. Implementing authentication mechanism to secure access to the session
2. Restricting access of modules or data access by users based on the roles granted

With the [Atoti+ plugin](https://docs.atoti.io/latest/atoti_plus.html), atoti supports multiple [authentication mechanisms](https://docs.atoti.io/latest/lib/atoti/atoti.config.authentication.html) to cater to the needs of our end users. This notebook demonstrates how we connect to a [LDAP](https://en.wikipedia.org/wiki/Lightweight_Directory_Access_Protocol) server to implement security over atoti web application.

We will explore security with Atoti+ using the [Top 50 Fast Food](https://www.kaggle.com/datasets/stetsondone/top50fastfood) dataset from Kaggle, combined with its parent company information sourced from the internet.  

Check out [atoti documentation](https://docs.atoti.io) to read more on [securing the session](https://docs.atoti.io/latest/how_tos/security/secure_a_session.html#Configuring-the-authentication-mechanism).

<div style="text-align: center;" ><a href="https://www.atoti.io/?utm_source=gallery&utm_content=ldap" target="_blank" rel="noopener noreferrer"><img src="https://data.atoti.io/notebooks/banners/discover.png" alt="Try atoti"></a></div>

In [1]:
import atoti as tt

## 1. Authentication setup in atoti

We demonstrate below how we configure the authentication parameter of [`atoti.Session`](https://docs.atoti.io/latest/lib/atoti/atoti.session.html#atoti.Session.__init__) to connect to a LDAP authentication provider.  

In our example, we used the [Apache DS](https://directory.apache.org/apacheds/) to configure our LDAP server.

<img src="https://data.atoti.io/notebooks/security/img/ldap-setup.png" width="70%" />  

Use `user_search_base` to search the group where the user id (UID) resides under.  
Use `group_search_base` to search the group where the common names (CN) resides under.  


__All users should have the role equivalent to `ROLE_USER` to be able to access atoti web application.__

In [2]:
authentication = tt.LdapConfig(
    url="ldap://localhost:10389",
    base_dn="dc=example,dc=com",
    user_search_base="ou=people",
    group_search_base="ou=roles",
)

### 1.2. Session instantiation with authentication

In [3]:
session = tt.Session(authentication=authentication, user_content_storage="./content")

## 2. Roles management in atoti

### 2.1. atoti reserved roles  

The below roles are reserved in atoti and should not be altered by users:
- ROLE_ADMIN: able to access all objects in the web application
- ROLE_USER: able to access all data by default. Access to objects such as dashboards, folders, widgets etc is only upon sharing access granted to role.
- ROLE_SHARE: able to share objects such as dashboards, folders, widgets and filters.  

__All users, including the administrator, require the role *ROLE\_USER* to be able to access the atoti web application.__

Let's assume both users, *atoti\_admin* and *atoti\_user*, have been granted the role __ROLE_USER__ and *atoti\_admin* is also granted the role __ROLE_ADMIN__.  
While both *atoti\_admin* and *atoti\_user* are able to access all data, *atoti\_admin* is able to access all objects such as folders and dashboards.  
*atoti\_user* is able to access only the objects created by the user him/herself. Objects created by other users can only be access upon shared access granted.  

Both *atoti\_admin* and *atoti\_user* will not be able to share objects (via the "Share" icon as shown below) unless granted the role __ROLE_SHARE__.  

<img src="https://data.atoti.io/notebooks/security/img/sharing.png" width="70%"/>

### 2.2. Role creation with restrictions

Data restriction is based on users' requirement. In our use case, we assumed two groups of users with data access limited to those of their parent company:
- users belonging to parent company _Inspire Brands_
- users belonging to parent company _Restaurant Brands International Inc._

Therefore, we will create two roles to apply the restrictions based on the values of the `parent_company` hierarchy.  

__NOTE:__  
- We can skip role creation if there are no restrictions imposed on the role. 
- The value provided under the restrictions is cap-sensitive.

In [4]:
role_inspire = session.security.create_role(
    "ATOTI_ROLE_INSPIRE", restrictions={"parent_company": ["Inspire Brands"]}
)

role_restaurant = session.security.create_role(
    "ATOTI_ROLE_RESTAURANT",
    restrictions={"parent_company": ["Restaurant Brands International Inc."]},
)

#### 2.2.1. Restricted access from combination of roles

Multiple roles can be assigned to the same user. To demonstrate how the access will change when this happens, we create some other roles that restrict data access by the restaurant category, i.e. hierarchy `category`.

In [5]:
role_team_burger = session.security.create_role(
    "ATOTI_ROLE_BURGER", restrictions={"category": ["burger"]}
)

role_team_sandwich = session.security.create_role(
    "ATOTI_ROLE_SANDWICH", restrictions={"category": ["sandwich"]}
)

role_team_snack = session.security.create_role(
    "ATOTI_ROLE_SNACK", restrictions={"category": ["snack"]}
)

When combined with the restricted role on the `parent_company`, user's access will be further restricted to based on the restriction of the added role.  

For instance, users who are assigned the role __ATOTI_ROLE_BURGER__ will be able to access all the data under _burger_ category restaurants, regardless of the parent companies.  

However, when the same user is also granted the role __ATOTI_ROLE_INSPIRE__, then the user can only access data of restaurants under parent company _Inspire Brands_ that is of category _burger_.

### 2.3. Role assignment in atoti

#### 2.3.1. Assign default roles to authenticated users

We could default the roles such as __ROLE_USER__ and __ROLE_SHARE__ for all users who are logged in successfully.

In [6]:
session.security.ldap.default_roles.update(["ROLE_USER", "ROLE_SHARE"])

#### 2.3.2. Map roles between Authentication Provider and atoti

The names in the authentication provider can be different from those in atoti.  
Roles are assigned to users in the authentication provider and associated to the atoti roles in the `role_mapping` below.  

Be mindful that regardless of the name used in LDAP, we have to __uppercase the LDAP role name__ in the mapping.

In [7]:
session.security.ldap.role_mapping.update(
    {
        # atoti reserved roles
        "ROLE_ATOTI_ADMIN": ["ROLE_ADMIN"],
        "ROLE_ATOTI_USER": ["ROLE_USER"],
        "ROLE_ATOTI_SHARE": ["ROLE_SHARE"],
        # user-defined roles
        "ROLE_INSPIRE": [role_inspire.name],
        "ROLE_RESTAURANT": [role_restaurant.name],
        "ROLE_BURGER": [role_team_burger.name],
        "ROLE_SANDWICH": [role_team_sandwich.name],
        "ROLE_SNACK": [role_team_snack.name],
    }
)

While a role from the authentication provider can be mapped to multiple atoti roles, it is easier to modify user's access by updating the roles in the authentication provider. It is a design consideration whether to have a one-to-one role map or to grant multiple atoti roles to an authentication provider role.  

E.g. The mapping `"ROLE_ATOTI_USER": ["ROLE_USER", "ROLE_SHARE"]` meant that all the users with __atoti user__ role assigned will be able to do sharing.  
Alternatively, it could be implemented in LDAP as shown below, where individual users are granted the roles __ROLE_ATOTI_USER__ and __ROLE_SHARE__.  

<img src="https://data.atoti.io/notebooks/security/img/LDAP_roles_stacking.png" width="70%" />

## 3. Convergent with atoti Community Edition

We can now proceed with the usual data loading into atoti table, cube and measures creation. 

### 3.1. Data loading

In [8]:
base_tbl = session.read_csv(
    "s3://data.atoti.io/notebooks/security/data/parent_co.csv",
    table_name="parent_co",
    keys=["company", "parent_company"],
    process_quotes=True,
)
base_tbl.head()

                                                        name
parent_company                company
Inspire Brands                arbys                   Arby's
Focus Brands                  auntie_annes     Auntie Anne's
Inspire Brands                baskin_robbins  Baskin-Robbins
Jordan Company                bojangles            Bojangles
Durational Capital Management bojangles            Bojangles

In [9]:
enrichment_tbl = session.read_csv(
    "s3://data.atoti.io/notebooks/security/data/top_50_fast_food_US.csv",
    table_name="top_50",
    keys=["company"],
)
enrichment_tbl.head()

,category,sales_in_millions_2019,sales_per_unit_thousands_2019,franchised_units_2019,company_owned_units_2019,total_units_2019,unit_change_from_2018
company,,,,,,,
mcdonalds,burger,40413,2912,13154,692,13846,-66
starbucks,snack,21550,1454,6768,8273,15041,216
chick_fil_a,chicken,11000,4517,2500,0,2500,130
taco_bell,global,11000,1502,6622,467,7089,181
burger_king,burger,10300,1399,7294,52,7346,16

In [10]:
base_tbl.join(enrichment_tbl)

### 3.2. Cube creation

In [11]:
cube = session.create_cube(base_tbl, "Fast food analysis")

### 3.3 Measures creation

In [12]:
h, l, m = cube.hierarchies, cube.levels, cube.measures

In [13]:
m["sales_in_millions"] = tt.agg.sum(enrichment_tbl["sales_in_millions_2019"])
m["sales_per_unit_thousands"] = tt.agg.sum(
    enrichment_tbl["sales_per_unit_thousands_2019"]
)
m["franchised_units"] = tt.agg.sum(enrichment_tbl["franchised_units_2019"])
m["company_owned_units"] = tt.agg.sum(enrichment_tbl["company_owned_units_2019"])
m["total_units"] = tt.agg.sum(enrichment_tbl["total_units_2019"])
m["unit_change_from_2018"] = tt.agg.sum(enrichment_tbl["unit_change_from_2018"])

In [14]:
m["% franchised"] = m["franchised_units"] / m["total_units"]
m["% franchised"].formatter = "DOUBLE[0.00%]"

## 4. Test login and access management in web application

Try out any of these users:

___Administrator___
- atoti_admin

___Generic user___
- atoti_user

___Inspire Brands users___
- Inspire_user1 (Access for restaurants of category Burger only)
- Inspire_user2 (Access for restaurants of category Sandwich and Snack only)
- Inspire_manager

___Restaurant Brands International LLC users___
- Restaurant_user1 (Access for restaurants of category Burger only)
- Restaurant_user2 (Access for restaurants of category Sandwich and Snack only)
- Restaurant_manager

In [15]:
session.link()

Open the notebook in JupyterLab with the atoti extension enabled to see this link.

<div style="text-align: center;" ><a href="https://www.atoti.io/?utm_source=gallery&utm_content=ldap" target="_blank" rel="noopener noreferrer"><img src="https://data.atoti.io/notebooks/banners/discover-try.png" alt="Try atoti"></a></div>